body {
	background-color: #F0EFED !important;
}
.navbar-brand {
	font-family: 'Cedarville Cursive', cursive;
}
a h1 {
	color: #F8F8F8;
}
.blog-content h2 {
	font-size: 2em;
}
#navbar-collapse {
	background-color: #969D95;
	a {
		color: #E3E5E2;
	}
}